 body {
     background-color: #2E3861;
     margin: 0px;
     overflow: hidden;
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 header,
 footer {
     background-color: #8E9ED7;
     display: flex;
 }

 header {
     flex-grow: 1
 }

 footer {
     height: 100%;
     flex-grow: 1
 }

 .button-number {
     background-color: #27242D;
 }

 .button-number:active {
     background-color: rgb(92, 85, 107);
 }

 .button-operator {
     background-color: rgb(92, 21, 41);
 }

 .button-operator:active {
     background-color: rgb(95, 53, 65);
 }

 #center {
    width: 100%;
    display: flex;
    margin: 20px 0px;
    flex-grow: 3
}

 #calculator {
     margin: auto;
     width: 250px;
     height: 300px;
     border: 1px solid #DAA520;
     min-width: 110px;
     padding-top: 0px;
     background-color: #E3E0E5;
     border-radius: 15px;
     box-shadow: rgb(29, 7, 13) 10px 15px 20px;
 }

 #calculator-screen-container {
     text-align: center;
     display: inline-block;
     width: 90%;
     height: 15%;
     margin: 10px;
     margin-left: 10px;
     margin-right: 8px;
     padding-right: 3px;
     border: 1px solid #DAA520;
 }

 #calculator-screen-current {
     background-color: #27242D;
     color: #DAA520;
     width: 100%;
     height: 60%;
     text-align: right;
     line-height: 35px;
     padding-right: 3px;
     font-size: 24px;
     font-family: Arial, Helvetica, sans-serif;
 }

 #calculator-screen-previous {
     background-color: #27242D;
     color: #DAA520;
     width: 100%;
     height: 40%;
     text-align: right;
     padding-right: 3px;
     font-size: 12px;
     font-family: Arial, Helvetica, sans-serif;
 }

 #calculator-buttons {
     display: grid;
     grid-template-columns: repeat(4, 20%);
     grid-gap: 10px;
     grid-template-areas: "clear clear clear backspace "
         "seven eight nine divide"
         "four five six multiply"
         "one two three subtract"
         "decimal zero equals add";
     justify-content: center;
     align-content: center;
 }

 #calculator-buttons button {
     padding: 5px;
     border: 1px solid #DAA520;
     border-radius: 10px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     color: #DAA520;
 }

 #calculator-buttons button:focus {
     outline: none;
 }


 #calculator-button-one {
     grid-area: one;
 }

 #calculator-button-two {
     grid-area: two;
 }

 #calculator-button-three {
     grid-area: three;
 }

 #calculator-button-four {
     grid-area: four;
 }

 #calculator-button-five {
     grid-area: five;
 }

 #calculator-button-six {
     grid-area: six;
 }

 #calculator-button-seven {
     grid-area: seven;
 }

 #calculator-button-eight {
     grid-area: eight;
 }

 #calculator-button-nine {
     grid-area: nine;
 }

 #calculator-button-zero {
     grid-area: zero;
 }

 #calculator-button-add {
     grid-area: add;
 }

 #calculator-button-subtract {
     grid-area: subtract;
 }

 #calculator-button-multiply {
     grid-area: multiply;
 }

 #calculator-button-divide {
     grid-area: divide;
 }

 #calculator-button-clear {
     grid-area: clear;
 }

 #calculator-button-equals {
     grid-area: equals;
 }

 #calculator-button-decimal {
     grid-area: decimal;
 }

 #calculator-button-backspace {
     grid-area: backspace;
 }